---
name: Build & Push Docker Image

# Only builds the image if a release was created.
# This guarantees the commit is tagged and on main branch.
# (see https://docs.github.com/en/repositories/releasing-projects-on-github/about-releases)

# yamllint disable-line rule:truthy
on: release

jobs:
  default:
    # yamllint disable-line rule:line-length
    uses: Hapag-Lloyd/Workflow-Templates/.github/workflows/docker_github_release_callable.yml@dc2e66ba9e8fbfa2d8494cbc6d6eed01f947d42a # 1.26.12
    secrets: inherit
    with:
      image-name: "fluent-bit-multiline"
      upload-security-scan-results: true
      push: true
